@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Luckiest+Guy|Orbitron|Special+Elite&display=swap');

html{
		padding:0;
		margin:0;
		font-size:16px;
		font-family:'Orbitron','Gruppo';
		display:grid | inline-grid;
		text-align:center;
}
body{
	background:#0c0032 url(../images/circ-board.png) no-repeat center center fixed;

	padding:1em;
	color:white;
}
header{
	grid-area:top;
	display:flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: base-line;
}
body *{

	list-style:none;
	text-decoration:none;

}
/*horizontal nav bar*/
nav ul{

	display:flex;
	flex-direction: row;
	justify-content: space-evenly;

}
nav a{
	padding:0.5em;
	background-color:aliceblue;
	font-style: normal;

}
/*Aside column*/

aside ul{
	padding:.3em;
	display: flex;
	flex-direction:column;
	align-items: stretch;
	justify-content: space-around;
}
aside a{
	padding:.2em;
	margin-top:.3em;
	background-color:white;
	width:100%;
	display:block;
}
main *{
	margin:.3em;
}
main{
	display:flex;
	flex-wrap:wrap;
}
article{
	background-color:blue;
	padding:.2em;
	width:30%;

}
label{
	text-align:center;
}
form{
	display:flex;
	flex-direction:column;
	flex-basis: content;}

	@media only screen and (min-width:20em){
		.iframe_container{
			width:100%;
		}
		body{
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto;
			grid-template-areas: "top top"
				"nav nav"
				"mid-left mid-right"
				"bottom bottom"
		}
		header{
			grid-area:top;
		}
		nav{
			grid-area:nav;
		}
		aside{
			grid-area:mid-left;
		}
		main{
			grid-area:mid-right;
		}
		footer{
			grid-area: bottom;
		}
	}
	@media only screen and (min-width:30em){

	body{
		grid-template-columns: 30% 70%;
	}

	}
	/*move aside out
		fix articles for project
		change colours*/
		/*

		    font-family: 'Indie Flower', cursive;

		    font-family: 'Luckiest Guy', cursive;

		    font-family: 'Special Elite', cursive;

		    font-family: 'Orbitron', sans-serif;

		*/
