
@import url('//fonts.googleapis.com/css?family=Gruppo&display=swap');

* {
        padding: 0;
        margin:0;
}
html{
    background-color:rgb(74,148,202);
    background-image: url(../images/cloud.png);
    background-position: center;
    background-size: 80%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family:'Gruppo',cursive,sans-serif;
    text-align:center;
    font-size: 16px;
}
section{
  background-color:rgba(43, 125, 181, 0.9);
  margin-top: 2em;
  padding:1em;
}
section *{
	padding:.5em;
}
section section{
  background-color: rgb(230, 230, 230);
  box-shadow: 0.5em 0.5em 0.2em rgb(0, 0, 0) ;
}
section section h1:nth-of-type(2)+p{
  color:rgb(45, 105,147);
  font-weight: bold;
}
p:first-child{
  text-align: center;
}
p{
  margin:0.5em;
}
header{
  font-size:1.5em;
}
img{
  width: 100%;
  border-radius: 10% 10% 0 0 ;
}
figure{
  transition: all .4s ease-in 0s;
}
figure:hover{
 transform:rotateY(360deg);
}
section:active{
  background-color:rgb(43, 125, 181);
}
#logo{
  width:10%;
}
.date{
  font-weight: bold;
  color:rgb(0, 45,77);
}
section ul,section ol{
  text-align:left;
  padding: 0.2em;
}
section ul,section ol{
  padding-left: 1em;
}
table{

  border-collapse: collapse;
  margin:auto;
  background-color:rgba(255, 255, 255,0.8);
  font-size: 0.78em;
  border:hidden;
  border-radius: 5%;
}
th,td{
	padding:.5em;
  text-align: center;
  border: 0.08em solid white;
  vertical-align: middle;
}
nav{
  color:white;
  background-color: black;
  font-weight: bold;

}
nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
nav a{
  background-color: black;
  padding:0.3em;
  display: block;
  width:100%;
  color:white;
}
nav a:hover{
  background-color: rgb(200, 200, 200);
}

/*      Aside list of links     */
aside li{
  list-style: none;
  background-color: black;
	background-color:rgba(0,0,0,.8);
}
aside a{
  color: whitesmoke;
	text-shadow: 0.1em 0.1em 0.05em darkblue;
}
figcaption{
  color: white;
  background-color: black;
  font-weight: lighter;
  font-size: 0.8em;
  margin-top: -0.8em;
  padding: 1em 0em .4em 0em ;
}
a{
  color: darkblue;
  text-decoration: none;
}
header{
  padding:2em;
  background-image: url(../images/clouds.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
}
header h1:first-of-type{
  font-size: .9em;
  text-shadow: 0.1em 0.1em 0.05em white;
}
header h1:nth-child(2){
  font-size:2em;
}

footer{
  margin-top: .2em;
  color: white;
  background-color: black;
}
@media only screen and (min-width:70em){
      body{
        display:grid;
        grid-area:body;
        grid-template-columns: 20% 80%;
        grid-template-areas:"top top"
                            "nav main"
                            "nav main"
                            "bottom bottom";
      }
      section{
        margin-left: 0.5em;
      }
      header{
        grid-area:top;
        border-bottom: 0.2em solid black;
      }
      aside{
        grid-area:nav;
        margin:0.1em;
        margin-top:9em;
      }
      nav{
        grid-area:nav;
        margin-left: .5em;
        margin-top:  0em;
        background-color:rgba(74,148,202,0);
      }
      nav ul{
            display: flex;
            flex-direction:column;
            flex-wrap:wrap;
            position:fixed;
            width:18%;
        }
        nav ul:first-child{
          margin-top: .6em;
        }

      nav a{
        margin: 0.09em;
        border: 0.1em solid white;
        border-radius: 10%;
      }
      main{
        grid-area:main;
        padding: 0.1em;
        margin:0.1em;
      }
      footer{
        grid-area:bottom;
      }
      #logo, #paddle{
        width:100%;
      }
      aside h1{
        width:18%;
        margin:auto;
    }
}
/*
.center{
  position: fixed;
  left: 50%;
  top:2em;
  font-size: 3em;
  transform: translate(-50%, -50%);

  }
.center label{
  display:inline-block;
}

.center input{
    display:block;
/*  opacity: 0;
  height:0;
  width: 0;
*/
